~$*
*.aps
.builds
*.Cache
.*crunch*.local.xml
*.dbmdl
*-Ex.R
*.generated.*
*_i.c
*.ilk
*.log
*.meta
*.ncb
*.ncrunch*
*.obj
*.opensdf
*_p.c
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.psess
*.[Pp]ublish.xml
.Rdata
.Rhistory
*.rsp
*.sbr
*.scc
*.sdf
*.shfbproj_*
*.sqlsuo
*.ssms_suo
*.sublime-workspace
*.suo
*.tlb
*.tli
*.tlh
*.tmp
*.user
*.vs10x
*.vsp
*.vspscc
*.vssscc
Backup*/
[Bb]in
build/
[Bb]uild[Ll]og.*
ClientBin
[Dd]ebug*/
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
[Ee]xpress
Generated_Code
Help/
ipch/
[Oo]bj
[Pp]ackages/
publish
[Rr]elease/
.Rproj.user
[Ss]andbox/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult
[Tt]est[Rr]esult*
UpgradeLog*.XML
_UpgradeReport_Files/
[Ww]orking/
