* diff text=auto
*.7z binary
*.bmp binary
*.chm binary
*.cs diff=csharp
*.csproj merge=union
*.dbproj merge=union
*.dll binary
*.DLL binary
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.dotx diff=astextplain
*.DOTX diff=astextplain
*.exe binary
*.EXE binary
*.fla binary
*.fsproj merge=union
*.gif binary
*.htm diff=html
*.html diff=html
*.ico binary
*.jpg binary
*.msi binary
*.pdb binary
*.pdf diff=astextplain
*.PDF diff=astextplain
*.png binary
*.rtf diff=astextplain
*.RTF diff=astextplain
*.sln merge=union
*.swf binary
*.vbproj merge=union
*.vsi binary
*.xht diff=html
*.xhtm diff=html
*.xhtml diff=html
*.zip binary